.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.login-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #2c2c51;
    margin-bottom: 46px;
}

.login-button{
    padding-left:2.5rem;
    padding-right:2.5rem;
    background:linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    border:0;
}